<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!--
			encoders are assigned the type
			ch.qos.logback.classic.encoder.PatternLayoutEncoder by default
		-->
		<encoder>
			<pattern>%date %-5level [%class{0}.%M:%line] %msg%n</pattern>
		</encoder>
	</appender>
	<!--
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/nlpaas/access.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/nlpaas/access-%d{yyyy-MM}.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10M</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date %-5level [%class{0}.%M:%line] %msg%n</pattern>
		</encoder>
	</appender>
	-->
	<logger name="org.lappsgrid" level="debug"/>
	<logger name="org.lappsgrid.services.nlpaas" level="trace"/>
	<logger name="groovy.net.http" level="debug"/>
	<logger name="org.springframework" level="info"/>
	<logger name="org.springframework.web" level="debug"/>
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
